<% if deck.cards.any? %>
<div class="deck <%= deck.type %>">
  <h3><%= deck.title %></h3>

  <div class="cards">
    <% deck.cards.each do |card| %>
      <div class="card">
        <div class="content">
        <%= image_tag(card.user.avatar, alt: card.user.name, size: '200x200', class: 'avatar') %>

        <div class="details">
          <h6 class="company">HE:labs</h6>
          <h4 class="name"><%= card.user.name %></h4>
          <h5 class="title"><%= card.user.title %></h5>
        </div>

        <% if card.top_emoji[:emoji].present? %>
        <div class="emoji top">
          <div class="reaction">
            <% emoji = Emoji.find_by_alias(card.top_emoji[:emoji]).image_filename %>
            <%= image_tag("/images/emoji/#{emoji}", size: '40x40', class: 'icon', title: card.top_emoji[:emoji]) %>
          </div>
          <span class="count"><%= t(:sent_count_html, count: card.top_emoji[:count]) %></span>
        </div>
        <% end %>

        <% if card.bottom_emoji[:emoji].present? %>
        <div class="emoji bottom">
          <div class="reaction">
            <% emoji = Emoji.find_by_alias(card.bottom_emoji[:emoji]).image_filename %>
            <%= image_tag("/images/emoji/#{emoji}", size: '40x40', class: 'icon', title: card.bottom_emoji[:emoji]) %>
          </div>
          <span class="count"><%= t(:received_count_html, count: card.bottom_emoji[:count]) %></span>
        </div>
        <% end %>
      </div>
      </div>
    <% end %>
  </div>
</div>
<% end %>
