<% if deck.cards.any? %>
<div class="deck <%= deck.type %>">
  <%= image_tag(@team.image, class: 'logo') if deck.type == :champions && @team.image.present? %>

  <h4 class="subtitle"><%= deck.subtitle %></h3>
  <h3><%= deck.title %></h3>

  <div class="cards">
    <% deck.cards.each do |card| %>
      <div class="card <%= card.klass %>">
        <div class="content">
        <%= image_tag(card.user.avatar, alt: card.user.name, size: '200x200', class: 'avatar') %>

        <div class="details">
          <%= content_tag(:h6, card.title, class: 'card-title') if card.title.present? %>
          <%= content_tag(:h5, card.user.team.name, class: 'company') %>
          <%= content_tag(:h4, card.user.name, class: 'name') %>
          <%= content_tag(:h5, card.user.title, class: 'title') %>
        </div>

        <% if card.count && card.count > 0 %>
          <span class="count"><%= card.count %></span>
        <% end %>

        <% if card.top_emoji && card.top_emoji[:emoji].present? %>
        <div class="emoji top">
          <div class="reaction">
            <%= image_tag(emoji_url(card.top_emoji[:emoji], deck.team), size: '40x40', class: 'icon', title: card.top_emoji[:emoji]) %>
          </div>
          <span class="count"><%= t(:sent_count_html, count: card.top_emoji[:count]) %></span>
        </div>
        <% end %>

        <% if card.bottom_emoji && card.bottom_emoji[:emoji].present? %>
        <div class="emoji bottom">
          <div class="reaction">
            <%= image_tag(emoji_url(card.bottom_emoji[:emoji], deck.team), size: '40x40', class: 'icon', title: card.bottom_emoji[:emoji]) %>
          </div>
          <span class="count"><%= t(:received_count_html, count: card.bottom_emoji[:count]) %></span>
        </div>
        <% end %>
      </div>

      <%= content_tag(:p, card.description, class: 'card-description') if card.description.present? %>
      </div>
    <% end %>
  </div>
</div>
<% end %>
