<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= page_title(app_name: 'SlackHeroes') %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:300,400,700' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= body_class %>">
  <section class="hero">
    <header class="header">
      <h1><%= link_to('SlackHeroes', root_path) %></h1>
      <h2>Your Slack team into a guild of reaction heroes</h2>
      <h3>Find out your team’s ultimate heroes, what is your top power and what reaction is meant to match your messages.</h3>
      <div><%= link_to 'login', '/auth/slack' %></div>
    </header>

    <%= content_for :header %>
  </section>

  <main class="main">
    <%= yield %>
  </main>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
