<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= page_title(app_name: 'SlackHeroes') %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <%= content_for :meta %>

  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:300,400,700' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= body_class %>">
  <header class="header">
    <div class="row">
      <h1><%= link_to(image_tag('logo.png', alt: 'SlackHeroes'), root_path) %></h1>

      <div class="navigation">
        <%= link_to('See a random team', root_path) %>
        or
        <%= link_to('Check your team', '/auth/slack', class: 'button') %>
      </div>
    </div>

    <section class="hero">
      <h2>Your Slack team into a guild of reaction heroes</h2>
      <h3>Find out your team’s ultimate champions, what is your top power and what reaction is meant to match your messages.</h3>
    </section>

    <%= content_for :header %>
  </header>

  <main class="main">
    <%= yield %>
  </main>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= render 'tracking' %>
</body>
</html>
